body, a {
	color: $white;
	line-height: 1.4;
}

a {
	text-decoration: none;
	transition: .3s;

	&:hover {
		color: $red;
	}
}

.container {
	overflow: hidden;
    background: #000;
}

.wrapper {
	width: calc(100% - 100px - 100px);
	margin: auto;
}

.main {
	background-image: url('../img/main-bg.png');
	background-size: cover;
}

.tomato {
	position: absolute;
	background-image: url('../img/tomato.png');
	background-size: contain;
	background-repeat: no-repeat;
	width: $tomato-width;
	height: $tomato-width;
	top: -70px;
	left: -52px;
}

.basil {		
	position: absolute;
	background-image: url('../img/basil.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: $basil-width;
	height: $basil-height;
	bottom: 90px;
    right: -175px;
	transform: rotate(-105deg);
}