* {
  padding: 0;
  margin: 0;
}

body, a {
  color: #FFFFFF;
  line-height: 1.4;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  color: #B82121;
}

.container {
  overflow: hidden;
  background: #000;
}

.wrapper {
  width: calc(100% - 100px - 100px);
  margin: auto;
}

.main {
  background-image: url("../img/main-bg.png");
  background-size: cover;
}

.tomato {
  position: absolute;
  background-image: url("../img/tomato.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 18vw;
  height: 18vw;
  top: -70px;
  left: -52px;
}

.basil {
  position: absolute;
  background-image: url("../img/basil.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 34.5vw;
  height: 27vw;
  bottom: 90px;
  right: -175px;
  transform: rotate(-105deg);
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 10px;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}
.nav__item a {
  font-size: 16px;
  padding: 10px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.social-networks__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.hero-page {
  background-image: url("../img/hero-page-bg.png");
  background-size: cover;
  height: 100vh;
}
.hero-page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.hero-page__title {
  font-weight: 900;
  font-size: 55px;
  margin-bottom: 35px;
  max-width: 607px;
}
.hero-page__title span {
  color: #B82121;
}
.hero-page__text {
  font-weight: 400;
  font-size: 16px;
  max-width: 500px;
}
.hero-page__btn {
  margin-top: 35px;
}

.btn {
  background: #B82121;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 14px;
  padding: 20px 49px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background: #FFFFFF;
  color: #B82121;
}

.intro {
  text-align: center;
}
.intro__title {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 25px;
}
.intro__text {
  font-size: 16px;
  max-width: 630px;
  margin: auto;
}

.meal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  justify-content: center;
  padding: 60px 0;
}
.meal__item {
  position: relative;
  max-width: 287px;
}
.meal__item-text {
  font-weight: 700;
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}
.meal__item-img {
  position: relative;
  width: 100%;
}
.meal__item-basil {
  position: absolute;
  background-image: url("../img/basil.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 205px;
  top: -100px;
  left: -60px;
  transform: rotate(120deg);
}

.taste {
  position: relative;
  padding-bottom: 137px;
}
.taste__title {
  padding-top: 121px;
}
.taste__btn {
  width: fit-content;
  margin: auto;
  display: block;
}

/*# sourceMappingURL=index.css.map */
