.footer {
    @include flex(column);
   

    &__bottom {
        @include flex(row);
        gap: 200px;
        padding-bottom: 50px;
        padding-top: 10px;
        
    }

    &__top {
        @include flex(row);
        gap: 200px;
        padding-top: 50px;
       
    }

    &__social {
        @include flex(row);
       list-style-type: none;
       gap: 10px;
    }
}