.btn {
	background: $red;
	border-radius: 5px;
	color: $white;
	font-weight: 900;
	font-size: 14px;
	padding: 20px 49px;
	border: none;
	transition: .3s;
	cursor: pointer;

	&:hover {
		background: $white;
		color: $red;
	}
}