.hero-page {
	background-image: url('../img/hero-page-bg.png');
	background-size: cover;
	height: 100vh;

	&__wrapper {
		@include flex(column);

		align-items: flex-start;
		justify-content: center;
		height: 100%;
	}

	&__title {
		font-weight: 900;
		font-size: 55px;
		margin-bottom: 35px;
		max-width: 607px;

		span {
			color: $red;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		max-width: 500px;
	}

	&__btn {
		margin-top: 35px;
	}
}